{% extends "base_generic.html" %}

{% block content %}
  <h1>Home</h1>
  <p>Welcome</p>
  <h2></h2>
  <p>Products</p>
  <ul>
    <li><strong>Products:</strong></li>
    {% if products %}
      <ul>
        {% for product in products %}
        <li>
          <a>{{ product.product.name }}  {{ product.color }}  {{ product.texture }} {{ product.size }} {{ product.price }}</a>
          {% if product.stock %}
          <a href="#">Buy Now</a>
          {% endif %}
          <a></a>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>There are no products.</p>
    {% endif %}
  </ul> 
{% endblock %}